
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Outfit:wght@100..900&display=swap');


*{
  padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'outfit';

}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.qpp{
  width: 80%;
  margin: auto;
}