.explore-menu{
    display: flex;
    flex-direction: column;
    gap:50px;
    /* background: red; */
}

.explore-menu h1{
    color: #262626;
    font-weight: 500;
}

.explore-menu-text{
    max-width: 60%;
    columns:#808080
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    align-items: center;
    margin: 20px,0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    max-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s ease;
}
.explore-menu-list-item p{
    margin-top: 0px;
    color: gray;
    font-size: max(1.4vw,16px);
    cursor: pointer;

}
.explore-menu hr{
    margin-top: 10px 0px;
    height: 2px;
    background-color:#e2e2e2 ;
    /* background-color: red; */
    border: none;
  
}
.explore-menu-list-item .active{
    border: 2px solid tomato;
      padding: 3px;
}

